body {
  margin: 0;
  color: #fff;
  background-color: #303030;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dl {
  margin: 0;
  padding: 0 0 20px;
  width: 100%;
}

dt {
  float: left;
  margin-right: 10px;
}

dd {
  clear: right;
  margin: 0 0 5px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
